/* Updated CSS for the sidebar */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: var(--light);
  z-index: 2000;
  font-family: var(--lato);
  transition: 0.3s ease;
  overflow-x: hidden;
  scrollbar-width: none;
}

#sidebar::-webkit-scrollbar {
  display: none;
}
#sidebar.hide {
	width: 55px;
}
