.view-table .table{
    vertical-align: middle;
}
.view-table .table th{
    font-weight: 500;
    font-size: 14px;
}
.view-table .table td{
    font-weight: 400;
    font-size: 12px;
}
.view-table .table td .product-img{
    width:40px ;
}
.view-table .table th ,.view-table .table td{
    background: var(--light);
}
.view-table .table th,.view-table .table td{
    color: var(--dark);
}
.view-table .delete-btn,.view-table .edit-btn{
    background-color: transparent;
    border: none;
    color: red;
    font-size: 22px;
}
.view-table .delete-btn:hover{
    background-color: transparent;
    color: var(--blue);
}
.view-table .edit-btn:hover{
    background-color: transparent;
    color: green;
}
.view-table .edit-btn{
    color: var(--blue);
}