.img{
    max-width: 100%;
    display: block;
}
.product-img img{
    width: 100%;
    height: 250px;
    object-fit: contain;
}
.buy-products .card {
    border: 1px solid var(--blue);
}
.buy-products .card-footer{
    background-color: #dadada;
    border: none;
}
.buy-products .card-footer .add-btn{
    color: var(--light);
    background-color: var(--blue);
    
}